* {
  font-size: 12px;
}

nav {
  z-index:1;
  position: fixed;
  height: 30px;
  background-color: lightgrey;
}

nav h2 {
  margin: 0px;
  padding: 0px;
}


nav ul li {
  list-style-type: none;
  float: left;
  margin: 0 2%;
}

#home {
  margin: 0 2%;
  margin-top: 40px;
}

.headerbox {
  text-align: left;
  vertical-align: center;
  background-color: #333333;
  border-radius: 0.4em;
  padding: 6px 0;
  margin: 5px 0;
}

.headerbox p {
  font-size: 1.2em;
  color: white;
  margin-left: 2%;
  display: inline;
}

#filters {
  min-height: 35px;
}

#toggle_filter {
  float:right;
  margin: 0px;
  margin-right: 10px;
}