* {
  font-size: 12px;
}

nav {
  position: fixed;
  height: 30px;
  background-color: lightgrey;
}

nav h2 {
  margin: 0px;
  padding: 0px;
}


nav ul li {
  list-style-type: none;
  float: left;
  margin: 0 2%;
}

#home {
  margin: 0 2%;
  margin-top: 40px;
}

.headerbox {
  text-align: center;
  vertical-align: center;
  margin: 4px 0;
  padding: 8px 0;
  background-color: #333333;
  color: white;
  border-radius: 0.4em;
  font-size: 1.2em;
}

#filters {
  min-height: 35px;
}

#toggle_filter {
  float:left;
  margin-left: 10px;
}