.primary_tags, .primary_filters, #toggle_filter {
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background-color:#ededed;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #dcdcdc;
  display:inline-block;
  cursor:pointer;
  color:#777777;
  margin: 0.5%;
  height: 35px;
}
.primary_tags:hover, .primary_filters:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c8c8c8), color-stop(1, #b2b2b2));
  background-color:#c8c8c8;
}

