<% @tag_options.each do |tag,count| %>
    <button id="<%= tag %>" class="primary_tags" > <%= "#{tag}:"%> <br><%= count %></button>
    <%= button_to tag, posts_path, :remote => true, :class => 'primary_tags', :id => tag  %>
<% end %>

